<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="bg-warning">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark mb-3">
        <div class="container  ">
            <a class="navbar-brand" href="">WeatherInfo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/weather">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather/Zhytomyr">Weather</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
<main>
    <div class="card container" style="width: 18rem;">
        <div class="card-body ">
            <h5 class="card-title ">Start app</h5>
            <p class="card-text">Click to run app.</p>
            <a href="/weather/Zhytomyr" class="btn btn-primary">Run</a>
        </div>
    </div>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2023 Sasha Zalishchuk</span>
    </div>


</footer>
</body>
</html>
</html>